@page "/Products"
@inherits ProductAdds
<h3>Products</h3>
@if(ProductFromApi == null ){
    <DisplaySpinner/>

    <h4> Loading products..............................</h4>
}
else
{
    
    var productCount = ProductFromApi.Count();
    @if(productCount>0){
        @* _____________________________________________before group by caterory__________________________________________________________________
           const int itemsPerRow = 4;

        var ProductToDisplay = new List<ProductDTO?>();
        @for( int i=0; i<productCount; i++)
        {
            ProductToDisplay = ProductFromApi.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
            __________________________________________After group by category ____________________________________________________________________*@
       @*  var GroupProductsByCategory = from product in ProductFromApi group product by product.CategoryName into probyCatGroup orderby probyCatGroup.Key select new { CategoryId = probyCatGroup.Key, Product = probyCatGroup };*@

        @foreach (var item in GetGroupedProductsByCategory())
                {
            @*var categoryName = @item.FirstOrDefault(ct => ct.Id == item.Key).CategoryName;
            <h3> @categoryName</h3>koun
            <p>@item</p>*@
            <h5> @GetCategoryName(item) </h5>
                        <div class="row mt-3">
                                    @foreach(var prod in item)
                                        {
                                            <DisplayProducts Product="@prod"></DisplayProducts>
                                        }
                        </div>
                        
                        <hr class="mb-3"/>
                }
            
        
             

    }
}


